.vs/
.idea/
.vscode/
Binaries/
Intermediate/
DeriveDataCache/
Saved/
Content/StartContent/
ThirdParty/
Build/
Android_ASTC/

*.vscode
*.sln
*.xcodeproj
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcworkspace